<h1>Bookmarklet: Cybozu Office7 Event to Google Calendar</h1>

<a href="javascript:(function() {var s = 'http://goo.gl/1TfJr';var e = document.createElement('script');e.type = 'text/javascript';e.src = s;document.body.appendChild(e);})();">CybozuOffice72Gcal</a>


